/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

p {
    font-size: 0.8rem;
}
/* #endregion Common */

/* #region Utility */
:root {
    --dropbox-white: #ffffff;
    --dropbox-primary: #b4d0e7;
    --dropbox-button: #0061ff;
    --dropbox-black: #000000;
    --dropbox-secondary: #807f7f;
}

.text-decoration {
    text-decoration: underline;
    color: #0061ff;
}

.text-center {
    text-align: center;
}

.text-secondary {
    color: var(--dropbox-secondary);
    font-weight: 500;
    font-size: 1rem;
}

.bg-white {
    background-color: var(--dropbox-white);
}

.bg-primary {
    background-color: var(--dropbox-primary);
}

.btn {
    border: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-primary {
    background-color: var(--dropbox-button);
    color: var(--dropbox-white);
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.z-n1 {
    z-index: 9999;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1.5rem;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.pr-3 {
    padding-right: 1.5rem;
}

.pt-3 {
    padding-top: 1.5rem;
}

.pt-6 {
    padding-top: 3rem;
}

.pt-10 {
    padding-top: 5rem;
}

.pt-15 {
    padding-top: 7.5rem;
}

.pb-1 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 1.5rem;
}

.pb-4 {
    padding-bottom: 2rem;
}

.mt-3 {
    margin-top: 1.5rem;
}
/* #endregion Utility */

/* #region Layout */
.container {
	width: 60%;
	max-width: 1152px;
	margin: auto
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-6 {
    width: calc((100% / 12) * 6);

}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-12 {
	width: 100%;
}

[class^="col-"] {
	padding-left: 1rem;
	padding-right: 1rem;
}

/* #region Header */
    header {
        box-shadow: 0 0 0.5rem;
    }
/* #endregion Header */

/* #region Main */
main h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

main h2 {
    font-size: 2rem;
}

.jumbo_img {
    margin-bottom: -3rem;
}

.arrow_down {
    font-size: 2rem;
    padding: 3rem 0 0.5rem 0;
}

.column_title,
.column_content {
    border: 1px solid grey;
}

.column_content {
    border-top: none;
    & li {
        padding-bottom: 1.5rem;
    }
    & .divisore_corto {
        width: 30%;
    }
    & .check_blu {
        color: var(--dropbox-button);
    }
}
/* #endregion Main */




/* #region Debug */
.debug header {
    min-height: 200px;
    background-color: blue;    
    & .header_left{
        width: 600px;
        min-height: 200px;
        background-color: aquamarine;
    }
    & .header_right {
        width: 600px;
        min-height: 200px;
        background-color: aqua;
    }
}

.debug main {
    min-height: 600px;
    background-color: red;
}

.debug footer {
    min-height: 300px;
    background-color: black;
}
/* #endregion Debug */