/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}
/* #endregion Common */

/* #region Utility */
:root {
    --dropbox-white: #ffffff;
    --dropbox-primary: #b4d0e7;
    --dropbox-button: #0061ff;
    --dropbox-black: #000000;
}

.btn {
    border: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.10rem 0.5rem;
}

.btn-primary {
    background-color: var(--dropbox-button);
    color: var(--dropbox-white);
}

.position-fixed {
    position: fixed;
}

.z-n1 {
    z-index: 9999;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.gap-3 {
    gap: 1.5rem;
}

.p-3 {
    padding: 1.5rem;
}

.pr-3 {
    padding-right: 1.5rem;
}
/* #endregion Utility */

/* #region Layout */
.container {
	width: 80%;
	max-width: 1152px;
	margin: auto
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem
}

[class^="col-"] {
	padding-left: 1rem;
	padding-right: 1rem;
}

/* #region Header */
    header {
        box-shadow: 0 0 0.5rem;
    }
/* #endregion Header */




/* #region Debug */
.debug header {
    min-height: 200px;
    background-color: blue;    
    & .header_left{
        width: 600px;
        min-height: 200px;
        background-color: aquamarine;
    }
    & .header_right {
        width: 600px;
        min-height: 200px;
        background-color: aqua;
    }
}

.debug main {
    min-height: 600px;
    background-color: red;
}

.debug footer {
    min-height: 300px;
    background-color: black;
}
/* #endregion Debug */